body {
  font-family: 'Prosto One', cursive;

  background-image: repeating-linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 30px,
    #fcfcfc 30px,
    #fcfcfc 33px
  );
}

li {
  list-style: none;
}
